.fondoLogin {
  background-image: url('https://previews.123rf.com/images/woters/woters1611/woters161100022/65373160-mujer-o-ni%C3%B1a-en-ropa-casual-pasear-al-perro-de-la-raza-golden-retriever-.jpg');
  padding: 3em;
}

.containerLogin {
  background-color: rgba(229, 223, 230, 0.445);
  text-align: center;
  padding: 3em;
  width: 30em;
  height: 39em;
  margin-left: 35%;
  margin-top: 4%;
}